.todos {
    padding: 0;
}

.todo {
    list-style: none;
    font-size: 30px;
    color: white;
    box-shadow: 2px 2px 10px 0 rgba(108, 45, 255, 0.8);
    border-radius: 10px;
    margin: 10px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.done {
    box-shadow: 2px 2px 10px 0 rgba(108, 45, 255, 0.4);
    text-decoration: line-through;
}

.todo__text {
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo__text__check {
    display: flex;
    align-items: center;
}

.todo__text__check div {
    overflow: hidden;
    max-width: 470px;
    text-overflow: ellipsis;
}

.todo__text__check input {
    appearance: none;
    height: 20px;
    width: 20px;
    margin: 0 10px 0 0;
    border: 1px solid rgb(108, 45, 255);
    background: white;
    cursor: pointer;
}

.todo__text__check input:checked {
    appearance: none;
    content: url("/public/Img/done.svg");
}

.edit {
    width: 480px;
    font-size: 30px;
    color: rgb(108, 45, 255);
    border: 1px solid rgba(108, 45, 255, 0.8);
    border-radius: 10px;
    padding: 0 5px;
    cursor: pointer;
}

.edit:focus-visible {
    outline: 1px solid rgb(108, 45, 255);
}

.control {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    height: 30px;
    cursor: pointer;
}

.done img {
    opacity: 0.4;
}